.bigContainer{
    display:flex;
    position: relative;
    height:100%;
    padding: 5%;
    color: #fff;
    /* background-color: red; */
}

.mainContent{
    width:60%;  
    display: block;
    position: relative;
}

.mainContentItem1{
    background-color:rgba(255,255,255,0.15);
    border-radius: 5px;
    
    height: 30%;
    margin-bottom: 4%;
    padding: 10px 20px;
}

.mainContentItem2{
    display: grid;
    height: 35%;
    position: relative;
    /* padding: 10px 20px; */
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.mainItem{position: relative;
    background-color: rgba(255,255,255,0.15);
    border-radius: 5px;
    padding: 10px 20px;
    /* margin: 10px; */
}

.communityRelated{
    display: block;
    width: 35%;
    margin-left: 5%;
}

.communityCard{
    height: 15%;
    border-radius: 5px;
    padding: 30px 20px 0 20px;
    margin-bottom: 5%;
    background-color: rgba(255,255,255,0.15);
    cursor: pointer;
}

.communityCard:hover{
    background-color: rgba(255,255,255,0.3);
}

.communityCard p{
    padding-top: 10px;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    position: relative;
}

.mainItem img{
    width:50px;
    position: absolute;
    bottom:10%;
    right:10%;
}

.communityCard img{
    position: absolute;
    right:8%;
    width:80px;
}

